.container.proto-list
  .row
    - @projects.each do |project|
      .col-sm-4.col-md-3.proto-content
        .thumbnail
          = link_to project_path(project) do
            = image_tag(project.thumbnails.find_by(status: "0").image_url)
            .caption
              = link_to project.title, project_path(project)
              .proto-meta
                .proto-user
                  = link_to project.user.name, user_path(project.user)
                .proto-posted
                  Apr 26
              %ul.proto-tag-list.list-inline
                = render partial: 'projects/tag', collection: project.tags
